h2 {
    color: black;
    text-align: center;
}

.axis {
    font-family: arial;
    font-size: 0.6em;
}

.tick {
    fill: none;
    stroke: black;
}

circle {
    opacity: 0.7;
}

.line_plot {
    fill: none;
    stroke: none;
    stroke-width: 1px;
}

.description {
    margin: 10px 10px 10px 10px;
}

body {
    width: 1300px;
}
